// SPDX-License-Identifier:     GPL-2.0
/*
 * Copyright (c) 2019-2023 Hailo Technologies Ltd. All rights reserved.
 */

/dts-v1/;
#include "../hailo/hailo15-base.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
    memory {
        device_type = "memory";
        reg = <0x00000000 0x80000000 0x00000001 0x00000000>;
    };
};

&i2c_0 {
    status = "ok";

    sensor_1: camera-sensor@1a {
        status = "ok";
        compatible = "sony,imx334", "sony,imx675", "sony,imx678", "sony,imx715";
        reg = <0x1a>;
        clocks = <&sensor_clk>;
        clock-names = "inclk";
        clock-frequency = <24000000>;
        csi-id = <1>;
        reset-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;        
        port {
            sensor_out_csi2rx1: endpoint {
                data-lanes = <1 2 3 4>;
                remote-endpoint = <&csi2rx1_in_sensor>;
		        link-frequencies = /bits/ 64 <891000000 1440000000 1782000000>;
            };
        };
    };
};

&i2c_1 {
    status = "ok";

    sensor_csi0: camera-sensor@1a {
        status = "ok";
        compatible = "sony,imx334", "sony,imx675", "sony,imx678", "sony,imx715";
        reg = <0x1a>;
        clocks = <&sensor_clk>;
        clock-names = "inclk";
        clock-frequency = <24000000>;
        csi-id = <0>;
        port {
            sensor_out_csi2rx0: endpoint {
                data-lanes = <1 2 3 4>;
                remote-endpoint = <&csi2rx_in_sensor>;
                link-frequencies = /bits/ 64 <891000000 1440000000 1782000000>;
            };
        };
    };

    ina231_1v8: 1v8@40 {
        compatible = "ti,ina231_precise";
        reg = <0x40>;
        shunt-resistor = <100000>;
        max-current = <260>;
    };
    ina231_DDR_VDDQX: DDR_VDDQX@42 {
        compatible = "ti,ina231_precise";
        reg = <0x42>;
        shunt-resistor = <100000>;
        max-current = <170>;
    };
    ina231_0v8: 0v8@43 {
        compatible = "ti,ina231_precise";
        reg = <0x43>;
        shunt-resistor = <1000>;
        max-current = <11755>;
    };

    tmp175_NEAR_H15_SOC: NEAR_H15_SOC@2c {
        compatible = "ti,tmp175";
        reg = <0x2c>;
    };

    codec_tlv320aic3104: tlv320aic3104@18 {
        status = "disabled"; /* Not fitted on the custom Astrial carrier */
        #sound-dai-cells = <0>;
        compatible = "ti,tlv320aic3104";
        reg = <0x18>;
        ai3x-source-clk = "bclk";
        ai3x-micbias-vg = <2>;
		/* Regulators */
		AVDD-supply = <&regulator_3p3v>;
		IOVDD-supply = <&regulator_1p8v>;
		DRVDD-supply = <&regulator_3p3v>;
		DVDD-supply = <&regulator_1p8v>;
    };
};
&csi2rx0 {
    status = "ok";
    ports {
        port@0 {
            csi2rx_in_sensor: endpoint {
                remote-endpoint = <&sensor_out_csi2rx0>;
            };
        };
    };
};

&csi2rx1 {
    status = "ok";
    ports {
        port@0 {
            csi2rx1_in_sensor: endpoint {
                remote-endpoint = <&sensor_out_csi2rx1>;
            };
        };
    };
};

&vision_subsys {
    status = "okay";
};

&hailo_vid_cap {
    status = "ok";
    ports {
        // TODO: uncomment when ISP will support streaming from CSI-1
        port@4{
            reg = <HAILO15_VID_GRP_SX_CSI1_ISP_MP>;
            vid4_in: endpoint {
                reg = <HAILO15_VID_GRP_SX_CSI1_ISP_MP>;
                sink = <1>;
                path = <HAILO15_VID_GRP_SX_CSI1_ISP_MP>;
                remote-endpoint = <&isp_out_s1_vid4>;
            };
        };
        port@6{
            reg = <HAILO15_VID_GRP_SX_CSI1_ISP_SP>;
            vid6_in: endpoint {
                reg = <HAILO15_VID_GRP_SX_CSI1_ISP_SP>;
                sink = <1>;
                path = <HAILO15_VID_GRP_SX_CSI1_ISP_SP>;
                remote-endpoint = <&isp_out_s1_vid6>;
            };
        };
        port@5{
            reg = <HAILO15_VID_GRP_SX_CSI1_P2A>;
            vid5_in: endpoint {
                reg = <HAILO15_VID_GRP_SX_CSI1_P2A>;
                sink = <1>;
                path = <HAILO15_VID_GRP_SX_CSI1_P2A>;
                remote-endpoint = <&rxwrapper_out_csi1_sX>;
            };
        };
        port@50{
            reg = <HAILO15_VID_GRP_S0_CSI1_P2A>;
            vid50_in: endpoint {
                reg = <HAILO15_VID_GRP_S0_CSI1_P2A>;
                sink = <1>;
                path = <HAILO15_VID_GRP_S0_CSI1_P2A>;
                remote-endpoint = <&rxwrapper_out_csi1_s0>;
            };
        };
        port@51{
            reg = <HAILO15_VID_GRP_S1_CSI1_P2A>;
            vid51_in: endpoint {
                reg = <HAILO15_VID_GRP_S1_CSI1_P2A>;
                sink = <1>;
                path = <HAILO15_VID_GRP_S1_CSI1_P2A>;
                remote-endpoint = <&rxwrapper_out_csi1_s1>;
            };
        };
        port@52{
            reg = <HAILO15_VID_GRP_S2_CSI1_P2A>;
            vid52_in: endpoint {
                reg = <HAILO15_VID_GRP_S2_CSI1_P2A>;
                sink = <1>;
                path = <HAILO15_VID_GRP_S2_CSI1_P2A>;
                remote-endpoint = <&rxwrapper_out_csi1_s2>;
            };
        };
        port@53{
            reg = <HAILO15_VID_GRP_S3_CSI1_P2A>;
            vid53_in: endpoint {
                reg = <HAILO15_VID_GRP_S3_CSI1_P2A>;
                sink = <1>;
                path = <HAILO15_VID_GRP_S3_CSI1_P2A>;
                remote-endpoint = <&rxwrapper_out_csi1_s3>;
            };
        };
    };
};

// TODO: uncomment when ISP will support streaming from CSI-1
&hailo_isp {
    status = "ok";
    ports {
        port@4 {
            reg = <4>;
            isp_out_s1_vid4: endpoint {
                sink = <0>;
                remote-endpoint = <&vid4_in>;
            };
        };
        port@6 {
            reg = <6>;
            isp_out_s1_vid6: endpoint {
                sink = <0>;
                remote-endpoint = <&vid6_in>;
            };
        };
    };
};


&hailo_pixel_mux {
    status = "ok";
};

&rxwrapper0 {
    status = "ok";
};

&rxwrapper1 {
    status = "okay";
    ports {
        port@0 {
            rxwrapper1_in_mux: endpoint {
                remote-endpoint = <&mux_out_rxwrapper1>;
            };
        };
        port@1 {
            rxwrapper_out_csi1_sX: endpoint {
                remote-endpoint = <&vid5_in>;
            };
        };
        port@2 {
            rxwrapper_out_csi1_s0: endpoint {
                remote-endpoint = <&vid50_in>;
            };
        };
        port@3 {
            rxwrapper_out_csi1_s1: endpoint {
                remote-endpoint = <&vid51_in>;
            };
        };
        port@4 {
            rxwrapper_out_csi1_s2: endpoint {
                remote-endpoint = <&vid52_in>;
            };
        };
        port@5 {
            rxwrapper_out_csi1_s3: endpoint {
                remote-endpoint = <&vid53_in>;
            };
        };
        port@6 {
            rxwrapper1_out_isp: endpoint {
                remote-endpoint = <&isp_in_rxwrapper1>;
            };
        };
    };
};

&hailo_vc8000e {
    status = "ok";
};


&xrp {
    status = "okay";
};

&xrp_reserved {
    status = "okay";
};

&sdio0 {
    status = "ok";
    no-1-8-v;
    broken-cd;  // If you don't have a card detect pin
    sdhci-caps= <0 0x01000000>; // Force VOLT33 capability
    max-frequency = <50000000>; // Try limiting the frequency to 50MHz
    bus-width = <4>;           // Make sure we're using 4-bit mode
    pinctrl-names = "default";
    phy-config {
        card-is-emmc = <0x0>;  // It's an SD card, not eMMC
        cmd-pad-values = <0x1 0x3 0x1 0x1>; // txslew_ctrl_n, txslew_ctrl_p, weakpull_enable, rxsel
        dat-pad-values = <0x1 0x3 0x1 0x1>; // txslew_ctrl_n, txslew_ctrl_p, weakpull_enable, rxsel
        rst-pad-values = <0x1 0x3 0x1 0x1>; // txslew_ctrl_n, txslew_ctrl_p, weakpull_enable, rxsel
        clk-pad-values = <0x1 0x3 0x0 0x1>; // txslew_ctrl_n, txslew_ctrl_p, weakpull_enable, rxsel
        sdclkdl-cnfg = <0x0 0x32>; //extdly_en, cckdl_dc
        drive-strength = <0xC 0xC>; //pad_sp, pad_sn
    };
};

&sdio1 {
    status = "ok";
    broken-cd;
    sdhci-caps= <0 0x01000000>; // Force VOLT33 capability
    phy-config {
		card-is-emmc = <0x0>;
		cmd-pad-values = <0x1 0x3 0x1 0x1>; // txslew_ctrl_n, txslew_ctrl_p, weakpull_enable, rxsel
        	dat-pad-values = <0x1 0x3 0x1 0x1>; // txslew_ctrl_n, txslew_ctrl_p, weakpull_enable, rxsel
        	rst-pad-values = <0x1 0x3 0x1 0x1>; // txslew_ctrl_n, txslew_ctrl_p, weakpull_enable, rxsel
        	clk-pad-values = <0x1 0x3 0x0 0x1>; // txslew_ctrl_n, txslew_ctrl_p, weakpull_enable, rxsel
        	sdclkdl-cnfg = <0x0 0x32>; //extdly_en, cckdl_dc
        	drive-strength = <0xC 0xC>; //pad_sp, pad_sn
    };
};

&eth {
    status = "ok";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_eth>;
};

&qspi {
    status = "ok";

    spi0_flash0: flash@0 {
        /* values for MT25QU01G */
        spi-max-frequency = <6250000>; /* 90Mhz in DTR, 166Mhz in STR */
        cdns,read-delay = <7>;
        cdns,tshsl-ns = <30>;
        cdns,tsd2d-ns = <30>;
        cdns,tchsh-ns = <5>;
        cdns,tslch-ns = <3>;
    };
};

&i2s_cpu_master {
    status = "okay";
    rx-sample-pace-pattern-repetitions = <2>;
    rx-sample-pace = <64 64 64>;
    rx-sample-cmp-to = "prev-val";
    tx-sample-offset = <81>;
    tx-sample-pace = <63>;
};

&audio_card_master {
    status = "ok";
    simple-audio-card,name = "Astrial-WM8960";
    simple-audio-card,bitclock-master = <&cpu_dai_master>;
    simple-audio-card,frame-master = <&cpu_dai_master>;

    simple-audio-card,widgets =
        "Speaker", "Speaker",
        "Microphone", "Onboard Microphone";

    simple-audio-card,routing =
        "Speaker", "SPK_LP",
        "Speaker", "SPK_LN",
        "Speaker", "SPK_RP",
        "Speaker", "SPK_RN",
        "LINPUT1", "Onboard Microphone";

    cpu_dai_master: simple-audio-card,cpu {
        sound-dai = <&i2s_cpu_master>;
        system-clock-frequency = <1562500>;
        system-clock-direction-out;
    };

    codec_dai_master: simple-audio-card,codec {
        sound-dai = <&codec_wm8960>;
        system-clock-frequency = <24000000>;
    };
};

&audio_card_slave_tx {
    simple-audio-card,bitclock-master = <&codec_dai_tx>;
    simple-audio-card,frame-master = <&codec_dai_tx>;

    cpu_dai_tx: simple-audio-card,cpu {
        sound-dai = <&i2s_cpu_slave_tx>;
        system-clock-frequency = <12288000>;
    };
    codec_dai_tx: simple-audio-card,codec {
        sound-dai = <&codec_tlv320aic3104>;
        system-clock-frequency = <12288000>;
    };
};

&audio_card_slave_rx {
    simple-audio-card,bitclock-master = <&codec_dai_rx>;
    simple-audio-card,frame-master = <&codec_dai_rx>;

    cpu_dai_rx: simple-audio-card,cpu {
        sound-dai = <&i2s_cpu_slave_rx>;
        system-clock-frequency = <12288000>;
    };
    codec_dai_rx: simple-audio-card,codec {
        sound-dai = <&codec_tlv320aic3104>;
        system-clock-frequency = <12288000>;
    };
};

/ {
    sensor_clk: sensor_clk {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <24000000>;
    };

    audio_mclk: audio-mclk {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <24000000>;
        clock-output-names = "wm8960-mclk";
    };

    /*
     * TEMPORARY BRING-UP WORKAROUND - NOT FOR PERMANENT PRODUCTION USE.
     *
     * The current custom carrier swaps the two Astrial I2C3 pins:
     *
     * GPIO6 is connected to the physical SCL net.
     * GPIO7 is connected to the physical SDA net.
     *
     * Use a GPIO-bitbanged bus only to validate the WM8960 and the
     * surrounding audio hardware on this carrier revision.
     *
     * The permanent hardware solution is to route GPIO6 to SDA and
     * GPIO7 to SCL, then restore the hardware I2C3 controller.
     */
    i2c_audio: i2c-audio {
        compatible = "i2c-gpio";
        #address-cells = <1>;
        #size-cells = <0>;

        scl-gpios = <&gpio0 6
            (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
        sda-gpios = <&gpio0 7
            (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;

        /*
         * A 5 us delay gives a nominal bus rate around 100 kHz,
         * sufficient for codec configuration and conservative for
         * the first board bring-up.
         */
        i2c-gpio,delay-us = <5>;
        i2c-gpio,timeout-ms = <100>;

        codec_wm8960: codec@1a {
            compatible = "wlf,wm8960";
            reg = <0x1a>;
            #sound-dai-cells = <0>;

            clocks = <&audio_mclk>;
            clock-names = "mclk";

            wlf,shared-lrclk;
            wlf,sysclk-auto;
        };
    };
};

&sdio0_reserved {
    status = "ok";
};

&serial0 {
 status = "ok";
};

&i2c_3 {
    /*
     * Temporarily disabled for the audio hardware validation workaround.
     * Restore this controller after correcting the carrier SDA/SCL routing.
     */
    status = "disabled";
};

&i2c_2 {
    /*
     * DSI temporarily disabled (2026-07-20) to free the shared pin set
     * (SoC pins 16-31) held by i2c2 for CAN/SPI-GPIO bring-up. See the
     * pinctrl_gpio_validation_set5 state under &gpio1. Re-enable to
     * restore the DSI touch panel path.
     */
    status = "disabled";
    clock-frequency = <400000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2c2>;
    gyro_lsm6dsr_2: lsm6dsr_2@6b {
        status = "disabled";
        compatible = "st,lsm6dsr";
        reg = <0x6b>;
        vdd-supply = <&regulator_1p8v>;
        vddio-supply = <&regulator_1p8v>;
        interrupt-parent = <&gpio1>;
        interrupts = <5 IRQ_TYPE_LEVEL_HIGH>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_gpio21>;
    };

    gyro_icm42670_2: icm42670_2@69 {
        status = "disabled";
        compatible = "invensense,icm42670";
        reg = <0x69>;
        vdd-supply = <&regulator_1p8v>;
        vddio-supply = <&regulator_1p8v>;
        interrupt-parent = <&gpio1>;
        interrupts = <5 IRQ_TYPE_EDGE_RISING>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_gpio21>;
	};	
	
    lcd@45 {
        status = "ok";
        compatible = "raspberrypi,7inch-touchscreen-panel";
        reg = <0x45>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;        	
        port {
            panel_in: endpoint {
                remote-endpoint = <&dsi0_out>;
            };
        };
    };	
};

&dpi0 {
    status = "disabled";
};

&dphy0 {
    status = "disabled";
};


&dsi0 {
    status = "disabled";
    ports {
        port@0 {
            reg = <0>;
            dsi0_out: endpoint {
                remote-endpoint = <&panel_in>;
            };
        };
    };
};

&pinctrl {
    pinctrl_eth: eth {
        pins = "eth_rgmii_tx_clk",
               "eth_rgmii_tx_ctl",
               "eth_rgmii_txd_0",
               "eth_rgmii_txd_1",
               "eth_rgmii_txd_2",
               "eth_rgmii_txd_3";
        drive-strength = <2>;
    };
    
    pinctrl_pwm1: pwm1 {
        function = "pwm1";
        groups = "pwm1_grp";
    };

    pinctrl_i2c2: i2c2 {
        function = "i2c2";
        groups = "i2c2_1_grp";
    };

    pinctrl_i2c0_current_src_en_out: i2c0_current_src_en_out {
        function = "i2c0_current_src_en_out";
        groups = "i2c0_current_src_en_out_3_grp";
    };

    pinctrl_i2c1_current_src_en_out: i2c1_current_src_en_out {
        function = "i2c1_current_src_en_out";
        groups = "i2c1_current_src_en_out_4_grp";
    };

    pinctrl_i2c2_current_src_en_out: i2c2_current_src_en_out {
        function = "i2c2_current_src_en_out";
        groups = "i2c2_current_src_en_out_3_grp";
    };

    pinctrl_sdio0_gp_in: sdio0_gp_in {
        function = "sdio0_gp_in";
        groups = "sdio0_gp_in_grp";
    };

    pinctrl_sdio1_gp_in: sdio1_gp_in {
        function = "sdio1_gp_in";
        groups = "sdio1_gp_in_grp";
    };

    pinctrl_sdio0_CD_in: sdio0_CD_in {
        function = "sdio0_CD_in";
        groups = "sdio0_CD_in_grp";
    };

    pinctrl_sdio1_CD_in: sdio1_CD_in {
        function = "sdio1_CD_in";
        groups = "sdio1_CD_in_grp";
    };

    pinctrl_uart0_cts_rts: uart0_cts_rts {
        function = "uart0_cts_rts";
        groups = "uart0_cts_rts_1_grp";
    };

    pinctrl_usb_overcurrent_n_in: pinctrl_usb_overcurrent_n_in {
        function = "usb_overcurrent_in";
        groups = "usb_overcurrent_in_grp";
    };

    pinctrl_usb_drive_vbus_out: pinctrl_usb_drive_vbus_out {
        function = "usb_drive_vbus_out";
        groups = "usb_drive_vbus_out_2_grp";
    };

    pinctrl_gpio21: gpio21 {
        function = "gpio";
        groups = "gpio21_grp";
    };

    /*
     * CAN/mikroBUS bring-up (2026-07-20): settle pin set 31_16 (gpio1,
     * SoC pins 16-31) on mode "gpio" via the shared mode register.
     *
     * IMPORTANT (found on hardware): on this driver, naming a pin in a
     * function="gpio" group makes the gpio0/gpio1 controller itself
     * gpio_request() that exact line at probe time (visible as
     * "kernel ... [used]" in gpioinfo, and gpioset fails with -EINVAL:
     * "pin already requested by <this same controller>"). It is
     * effectively as sticky as gpio-hog, just via a different path.
     *
     * Fix: anchor on ONE throwaway pin per set (never used elsewhere).
     * The other pins in the same set still settle on mode 2 because
     * the mode register is shared set-wide -- confirmed via
     * /sys/kernel/debug/pinctrl/7c291000.pinctrl/pins (all of 16-31
     * read "current set mode: 2" even the ones with no "function name"
     * tag) -- but only the named anchor pin itself gets claimed, so
     * gpio18/19/24/25/31 stay genuinely "unused" and available for
     * gpioset / a future spi-gpio node. See &gpio1 below.
     */
    pinctrl_gpio_validation_set5: gpio-validation-set5 {
        function = "gpio";
        groups = "gpio16_grp";
    };

    /*
     * Same fix for pin set 15_8 (gpio0, SoC pins 8-15), freed by
     * dropping the USB overcurrent/vbus pinctrl claim on &cdns_usb3
     * (pins 11/12). Anchored on pin 8 (never used elsewhere) instead of
     * naming 9/10/13 directly, for the same reason as set5 above.
     * NOTE: this also settles the mode for pin 15 (today "mpp res out",
     * the PCIe reset) -- it becomes a plain GPIO for this boot, so PCIe
     * reset is inactive. Acceptable since PCIe isn't under test without
     * an M.2 module fitted.
     */
    pinctrl_gpio_validation_set4: gpio-validation-set4 {
        function = "gpio";
        groups = "gpio8_grp";
    };
};

#define GPIO_LINE_NAMES \
    "SPI_CS2",                  "SPI_CS3",                  "DSI_RST",                  "CAM_TRIG", \
    "cam0_reset_n",             "cam1_reset_n",             "audio_i2c_scl",            "audio_i2c_sda", \
    "gpio_in_out_8",            "sdio0_gp_in",              "sdio0_cd_in",              "usb_overcurrent_n_in", \
    "usb_drive_vbus_out",       "sdio1_gp_in",              "sdio1_cd_in_n",            "RVSD", \
    \
    "gpio_in_out_16",           "WiFi_BT_disable_n",        "timer_ext_in0",            "timer_ext_in1", \
    "shut_down_out",            "user_LED",                 "i2c2_sda_in_out",          "i2c2_scl_out", \
    "i2c2_current_src_en_out",  "i2c0_current_src_en_out",  "i2c1_current_src_en_out",  "gpio_in_out_27", \
    "gpio_in_out_28",           "DSI_INTR",                 "uart0_cts_pad_in",         "uart0_rts_pad_out"

&gpio0 {
    gpio-ranges = <&pinctrl 0 0 16>;

    gpio-line-names = GPIO_LINE_NAMES;

    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_gpio_validation_set4>;
};

&gpio1 {
    gpio-ranges = <&pinctrl 0 16 16>;

    gpio-line-names = GPIO_LINE_NAMES;

    /*
     * Deterministic mode-2 (gpio) selection for pin set 31_16 (SoC pins
     * 16-31), freed by disabling &i2c_2 above. pinctrl_gpio_validation_set5
     * (see &pinctrl) anchors on pin 16 only, on purpose -- naming 18/19/
     * 24/25/31 directly here made THIS controller gpio_request() them at
     * probe time (confirmed on hardware). With only pin 16 named, the
     * rest of the set still lands on mode 2 (shared register) but stays
     * genuinely "unused" in gpioinfo, available for gpioset today and a
     * future spi-gpio node later:
     *   GPIO18 = CS_CAN     (J1-49)
     *   GPIO19 = spare      (J1-26, 40PH only)
     *   GPIO24 = SPI1_MOSI  (J1-44)
     *   GPIO25 = SPI1_SCLK  (J1-38)
     *   GPIO31 = spare      (J1-41, 40PH only)
     * Added 2026-07-20 for CAN/spi-gpio bring-up; remove if DSI (&i2c_2)
     * is restored. NOTE: once a spi-gpio node exists for SCK/MOSI/MISO/CS
     * it will claim these lines itself -- validate with gpioset first,
     * in a separate boot, before adding spi-gpio.
     */
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_gpio_validation_set5>;
};

&hailo_torrent_phy {
    status = "okay";
    usb-lane = <3>;
    usb-lane-pma-pll-full-rate-divider = <PCI_PMA_PLL_FULL_RATE_CLK_DIVIDER_4>;
    lanes-config = <PCI_PHY_LINK_LANES_CFG__2x1_PLUS_1x2__MASTER_LANES_LN0_LN2_LN3>;
};

&cdns_torrent_phy {
    torrent_phy_pcie: phy@0 {
        reg = <0>;
        resets = <&scmi_reset HAILO15_SCMI_RESET_IDX_PCIE_PHY_LANE_0>, <&scmi_reset HAILO15_SCMI_RESET_IDX_PCIE_PHY_LANE_1>;
        #phy-cells = <0>;
        cdns,phy-type = <PHY_TYPE_PCIE>;
        cdns,num-lanes = <2>;
    };
    torrent_phy_usb3: phy@3 {
        reg = <3>;
        resets = <&scmi_reset HAILO15_SCMI_RESET_IDX_PCIE_PHY_LANE_3>;
        #phy-cells = <0>;
        cdns,phy-type = <PHY_TYPE_USB3>;
        cdns,num-lanes = <1>;
        cdns,ssc-mode = <TORRENT_SERDES_NO_SSC>;
    };
};

&hailo_usb3 {
    status = "okay";
    hailo,force-drive-vbus;
};

&cdns_usb3 {
    /*
     * USB overcurrent/VBUS GPIO pinctrl temporarily dropped (2026-07-20)
     * to free SoC pins 11/12 (same pin set as pin 15, PCIe reset) for
     * CAN/SPI-GPIO bring-up. hailo,force-drive-vbus on &hailo_usb3 is
     * untouched -- that is an internal controller flag, not a pin claim.
     * USB1 is not testable via the carrier's data routing anyway.
     */
    dr_mode = "host";
    phys = <&torrent_phy_usb3>;
    phy-names = "cdns3,usb3-phy";
};
