--- a/arch/arm/mach-hailo/Kconfig
+++ b/arch/arm/mach-hailo/Kconfig
@@ -359,6 +359,10 @@ config TARGET_HAILO15L_SBC
 	bool "Hailo15L SBC"
 	select MACH_HAILO15L
 
+config TARGET_ASTRIAL_H15
+	bool "Astrial H15 Development Board"
+	select MACH_HAILO15
+
 config TARGET_HAILO10_M2
 	bool "Hailo10 M.2"
 	select MACH_HAILO10
@@ -404,5 +408,6 @@ source "board/hailo/hailo12l-veloce/Kconfig"
 source "board/hailo/hailo12l-mint/Kconfig"
 source "board/hailo/hailo12l-maple/Kconfig"
+source "board/sysele/astrial-h15/Kconfig"
 
 endif
 
