--- a/arch/arm/mach-hailo/Kconfig
+++ b/arch/arm/mach-hailo/Kconfig
@@ -416,6 +416,10 @@ config TARGET_HAILO12L_MAPLE
 	bool "Hailo12L Maple"
 	select MACH_HAILO12L
 
+config TARGET_ASTRIAL_H15
+	bool "Astrial H15 Development Board"
+	select MACH_HAILO15
+
 source "board/hailo/hailo15-vp/Kconfig"
 source "board/hailo/hailo15-ginger-soc/Kconfig"
 source "board/hailo/hailo15-ginger-soc-sdio0/Kconfig"
@@ -439,5 +443,6 @@ source "board/hailo/hailo12l-evb/Kconfig"
 source "board/hailo/hailo12l-veloce/Kconfig"
 source "board/hailo/hailo12l-mint/Kconfig"
 source "board/hailo/hailo12l-maple/Kconfig"
+source "board/sysele/astrial-h15/Kconfig"
 
 endif
